{% extends 'base.html' %}
{% block nav_item_sensors %} active {% endblock nav_item_sensors %}
{% block content %}

<title>All Sensors</title>

<div class="container">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-6"><h1 >Sensors</h1></div>
    <div class="col-md-6" >
        <div style="position: absolute; top: 50%; right: 0%; transform: translate(0%,-50%);">
          <a href="{% url 'addsensor' %}"><span class="oi oi-plus" data-toggle="tooltip" title="Add a sensor"></span></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <a href="{% url 'sensors' %}?view=list"><span class="oi oi-list" data-toggle="tooltip" title="List view"></span></a>
          <a href="{% url 'sensors' %}?view=tabular"><span class="oi oi-spreadsheet" data-toggle="tooltip" title="Tabular view"></span></a>
        </div>
    </div>
  </div>


  {% block sensors_content %}

  {% endblock %}

  </div>

  <script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
  });
  </script>

  <style>

  a:hover { text-decoration:none; }
  .btn
  {
      transition: all .2s linear;
      -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
      -o-transition: all .2s linear;
  }
  .btn-read-more
  {
      padding: 5px;
      text-align: center;
      border-radius: 0px;
      display: inline-block;
      border: 2px solid #662D91;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 12px;
      color:#662D91;
  }

  .btn-read-more:hover
  {
      color: #FFF;
      background: #662D91;
  }
  .post {  margin-top: 40px }
  .post-title {  color:#662D91; }
  .post .glyphicon { margin-right:5px; }
  .post-header-line { border-top:1px solid #DDD;border-bottom:1px solid #DDD;padding:5px 0px 5px 15px;font-size: 12px; }
  .post-content { padding-bottom: 15px;padding-top: 15px;}



  </style>
{% endblock %}
