<!doctype html>

<html>
<head>
{% load staticfiles  %}
<meta charset="utf8" >
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Dashboard</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="{% static 'logo.png' %}" height=30 alt="UiS Drillbotics logo"> UiSDrill</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Experiments<span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Sensors</a>
        <a class="nav-item nav-link" href="#">Rocks</a>

      </div>
    </div>

    <div class="nav navbar-nav navbar-right">
      <a href="#caccount" class="nav-item nav-link">Account</a>
    </div>
</nav>
</header>

<div class = "container-fluid">
  {% block content %}

  {% endblock %}
</div>


<footer>

</footer>

</body>
</html>
