<!doctype html>

<html>
<head>
{% load staticfiles  %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'open-iconic-master/font/css/open-iconic-bootstrap.css'  %}"  rel ="stylesheet">
<style>

</style>
</head>

<body>
<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style='border-bottom: 1px solid #E8E8E8' id="navbar">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'logo.png' %}" height=30 alt="UiS Drillbotics logo"> UiSDrill </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link {% block nav_item_experiments %} {% endblock nav_item_experiments %}" href="{% url 'experiments' %}">Experiments</a>


        {% if perms.sensors.view_sensor %}
          <a class="nav-item nav-link {% block nav_item_sensors %} {% endblock nav_item_sensors %} " href="{% url 'sensors' %}">Sensors</a>
        {% else %}
          <a class="disabled nav-link" href="" data-toggle="tooltip" title="You do not have permission!">Sensors</a>
        {% endif %}

        {% if perms.rocks.view_rock %}
          <a class="nav-item nav-link {% block nav_item_rocks %} {% endblock nav_item_rocks %}" href="{% url 'rocks' %}">Rocks</a>
        {% else %}
          <a class="disabled nav-link" href="" data-toggle="tooltip" title="You do not have permission!">Rocks</a>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            {% if perms.auth.view_user %}
              <a class="dropdown-item" href="{% url 'allusers' %}">Users</a>
            {% else %}
              <a class="dropdown-item disabled" href="" data-toggle="tooltip" title="You cannot view users!" data-placement="right">Users</a>
            {% endif %}


            {% if perms.auth.view_group %}
              <a class="dropdown-item" href="{% url 'allgroups' %}">Groups</a>
            {% else %}
              <a class="dropdown-item disabled" href="" data-toggle="tooltip" title="You cannot view groups!" data-placement="right">Groups</a>
            {% endif %}

          </div>
        </li>

      </div>
    </div>

    <div class="nav navbar-nav navbar-right">
      <!-- <a href="#account" class="nav-item nav-link">Account</a> -->
      <span class="nav-item nav-link" >Hello {{user.get_short_name}}</span> &nbsp;&nbsp;&nbsp;&nbsp;

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item " href="{% url 'profile' request.user.id %}">Profile</a>
          <a class="dropdown-item" href="javascript:{document.getElementById('logoutForm').submit()}">Logout</a>
          <form id='logoutForm' action="{% url 'logout' %}" method="POST">
            {% csrf_token %}

            <input type="hidden" />
          </form>

        </div>
      </li>



    </div>
</nav>
</header>


  {% block content %}

  {% endblock %}



<footer>

</footer>
<script>
  $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
  } );
</script>
</body>
</html>
