.table_row:hover {background-color: #f2f7ff; cursor: pointer}
#delete_message {font-size: 60px; color: green; position: fixed;top: 100px; right: 50%; transform: translate(50%,0);z-index: 2; opacity:0}
.delete_icon:hover {color: red}
