
#imagePlaceHolder{height: 350px; width: 100%;  background-color: gray;}
#loaded_picture{height: 330px; width: 100%;
                position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
}
#loaded_picture:hover{cursor: pointer}
#description {height: 350px}
#imagePlaceHolder:hover {cursor: pointer}
#chooseImageDiv{font-size: 45px; width: 90%; display: block; color: white; text-align: center;
                margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-weight: bold}

#pictureInput{display: none}
