{% extends 'allusers.html' %}


{% load staticfiles %}
{% block users_content %}

{% for user in users.all %}

<div class="row sensor_row">
<div class="col-md-12 post">
  <div class="row">
    <div class="col-md-12">

        <h4>
          <strong><a href="">{{user.username}}</a></strong>
        </h4>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12 post-header-line">
      <!-- <span class="glyphicon glyphicon-user"></span>Unit of measure: <a href="#">AAAA</a> | -->
      <span class="glyphicon glyphicon-user"></span>Added on: <a href="#"></a>  |
      <span class="glyphicon glyphicon-user"></span>Materials: <a href="#"></a>



    </div>
  </div>
  <div class="row post-content">
    <div class="col-md-3" >
      <a href="#">

        <img src="{% static 'no_image_available.png' %}"  alt="" style="width: 100%;" >

      </a>
    </div>
    <div class="col-md-9">
      <p...</p>
      <p>
        <a class="btn btn-read-more" href="">Read more</a></p>
      </div>
    </div>
  </div>

</div>
{% endfor %}



{% endblock %}
